In [20]:
import pandas as pd

#### For year 2012

In [21]:
data = pd.read_csv("./Poverty/ACS_12_5YR_S1701/ACS_12_5YR_S1701_with_ann.csv",encoding='ISO-8859-1',low_memory=False)

In [22]:
for i in data.iloc[0]:
    print(i)

Id
Id2
Geography
Total; Estimate; Population for whom poverty status is determined
Total; Margin of Error; Population for whom poverty status is determined
Below poverty level; Estimate; Population for whom poverty status is determined
Below poverty level; Margin of Error; Population for whom poverty status is determined
Percent below poverty level; Estimate; Population for whom poverty status is determined
Percent below poverty level; Margin of Error; Population for whom poverty status is determined
Total; Estimate; AGE - Under 18 years
Total; Margin of Error; AGE - Under 18 years
Below poverty level; Estimate; AGE - Under 18 years
Below poverty level; Margin of Error; AGE - Under 18 years
Percent below poverty level; Estimate; AGE - Under 18 years
Percent below poverty level; Margin of Error; AGE - Under 18 years
Total; Estimate; AGE - Under 18 years - Related children under 18 years
Total; Margin of Error; AGE - Under 18 years - Related children under 18 years
Below poverty level; Estimate; AGE - Under 18 years - Related children under 18 years
Below poverty level; Margin of Error; AGE - Under 18 years - Related children under 18 years
Percent below poverty level; Estimate; AGE - Under 18 years - Related children under 18 years
Percent below poverty level; Margin of Error; AGE - Under 18 years - Related children under 18 years
Total; Estimate; AGE - 18 to 64 years
Total; Margin of Error; AGE - 18 to 64 years
Below poverty level; Estimate; AGE - 18 to 64 years
Below poverty level; Margin of Error; AGE - 18 to 64 years
Percent below poverty level; Estimate; AGE - 18 to 64 years
Percent below poverty level; Margin of Error; AGE - 18 to 64 years
Total; Estimate; AGE - 65 years and over
Total; Margin of Error; AGE - 65 years and over
Below poverty level; Estimate; AGE - 65 years and over
Below poverty level; Margin of Error; AGE - 65 years and over
Percent below poverty level; Estimate; AGE - 65 years and over
Percent below poverty level; Margin of Error; AGE - 65 years and over
Total; Estimate; SEX - Male
Total; Margin of Error; SEX - Male
Below poverty level; Estimate; SEX - Male
Below poverty level; Margin of Error; SEX - Male
Percent below poverty level; Estimate; SEX - Male
Percent below poverty level; Margin of Error; SEX - Male
Total; Estimate; SEX - Female
Total; Margin of Error; SEX - Female
Below poverty level; Estimate; SEX - Female
Below poverty level; Margin of Error; SEX - Female
Percent below poverty level; Estimate; SEX - Female
Percent below poverty level; Margin of Error; SEX - Female
Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race
Total; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race
Below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race
Below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race
Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race
Percent below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race
Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - White
Total; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - White
Below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - White
Below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - White
Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - White
Percent below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - White
Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Black or African American
Total; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Black or African American
Below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Black or African American
Below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Black or African American
Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Black or African American
Percent below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Black or African American
Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - American Indian and Alaska Native
Total; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - American Indian and Alaska Native
Below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - American Indian and Alaska Native
Below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - American Indian and Alaska Native
Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - American Indian and Alaska Native
Percent below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - American Indian and Alaska Native
Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Asian
Total; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Asian
Below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Asian
Below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Asian
Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Asian
Percent below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Asian
Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Native Hawaiian and Other Pacific Islander
Total; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Native Hawaiian and Other Pacific Islander
Below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Native Hawaiian and Other Pacific Islander
Below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Native Hawaiian and Other Pacific Islander
Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Native Hawaiian and Other Pacific Islander
Percent below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Native Hawaiian and Other Pacific Islander
Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Some other race
Total; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Some other race
Below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Some other race
Below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Some other race
Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - One race - Some other race
Percent below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - One race - Some other race
Total; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - Two or more races
Total; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - Two or more races
Below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - Two or more races
Below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - Two or more races
Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - Two or more races
Percent below poverty level; Margin of Error; RACE AND HISPANIC OR LATINO ORIGIN - Two or more races
Total; Estimate; Hispanic or Latino origin (of any race)
Total; Margin of Error; Hispanic or Latino origin (of any race)
Below poverty level; Estimate; Hispanic or Latino origin (of any race)
Below poverty level; Margin of Error; Hispanic or Latino origin (of any race)
Percent below poverty level; Estimate; Hispanic or Latino origin (of any race)
Percent below poverty level; Margin of Error; Hispanic or Latino origin (of any race)
Total; Estimate; White alone, not Hispanic or Latino
Total; Margin of Error; White alone, not Hispanic or Latino
Below poverty level; Estimate; White alone, not Hispanic or Latino
Below poverty level; Margin of Error; White alone, not Hispanic or Latino
Percent below poverty level; Estimate; White alone, not Hispanic or Latino
Percent below poverty level; Margin of Error; White alone, not Hispanic or Latino
Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over
Total; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 years and over
Below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over
Below poverty level; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 years and over
Percent below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over
Percent below poverty level; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 years and over
Total; Estimate; EDUCATIONAL ATTAINMENT - Less than high school graduate
Total; Margin of Error; EDUCATIONAL ATTAINMENT - Less than high school graduate
Below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Less than high school graduate
Below poverty level; Margin of Error; EDUCATIONAL ATTAINMENT - Less than high school graduate
Percent below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Less than high school graduate
Percent below poverty level; Margin of Error; EDUCATIONAL ATTAINMENT - Less than high school graduate
Total; Estimate; EDUCATIONAL ATTAINMENT - High school graduate (includes equivalency)
Total; Margin of Error; EDUCATIONAL ATTAINMENT - High school graduate (includes equivalency)
Below poverty level; Estimate; EDUCATIONAL ATTAINMENT - High school graduate (includes equivalency)
Below poverty level; Margin of Error; EDUCATIONAL ATTAINMENT - High school graduate (includes equivalency)
Percent below poverty level; Estimate; EDUCATIONAL ATTAINMENT - High school graduate (includes equivalency)
Percent below poverty level; Margin of Error; EDUCATIONAL ATTAINMENT - High school graduate (includes equivalency)
Total; Estimate; EDUCATIONAL ATTAINMENT - Some college, associate's degree
Total; Margin of Error; EDUCATIONAL ATTAINMENT - Some college, associate's degree
Below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Some college, associate's degree
Below poverty level; Margin of Error; EDUCATIONAL ATTAINMENT - Some college, associate's degree
Percent below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Some college, associate's degree
Percent below poverty level; Margin of Error; EDUCATIONAL ATTAINMENT - Some college, associate's degree
Total; Estimate; EDUCATIONAL ATTAINMENT - Bachelor's degree or higher
Total; Margin of Error; EDUCATIONAL ATTAINMENT - Bachelor's degree or higher
Below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Bachelor's degree or higher
Below poverty level; Margin of Error; EDUCATIONAL ATTAINMENT - Bachelor's degree or higher
Percent below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Bachelor's degree or higher
Percent below poverty level; Margin of Error; EDUCATIONAL ATTAINMENT - Bachelor's degree or higher
Total; Estimate; EMPLOYMENT STATUS - Civilian labor force 16 years and over
Total; Margin of Error; EMPLOYMENT STATUS - Civilian labor force 16 years and over
Below poverty level; Estimate; EMPLOYMENT STATUS - Civilian labor force 16 years and over
Below poverty level; Margin of Error; EMPLOYMENT STATUS - Civilian labor force 16 years and over
Percent below poverty level; Estimate; EMPLOYMENT STATUS - Civilian labor force 16 years and over
Percent below poverty level; Margin of Error; EMPLOYMENT STATUS - Civilian labor force 16 years and over
Total; Estimate; EMPLOYMENT STATUS - Employed
Total; Margin of Error; EMPLOYMENT STATUS - Employed
Below poverty level; Estimate; EMPLOYMENT STATUS - Employed
Below poverty level; Margin of Error; EMPLOYMENT STATUS - Employed
Percent below poverty level; Estimate; EMPLOYMENT STATUS - Employed
Percent below poverty level; Margin of Error; EMPLOYMENT STATUS - Employed
Total; Estimate; EMPLOYMENT STATUS - Employed - Male
Total; Margin of Error; EMPLOYMENT STATUS - Employed - Male
Below poverty level; Estimate; EMPLOYMENT STATUS - Employed - Male
Below poverty level; Margin of Error; EMPLOYMENT STATUS - Employed - Male
Percent below poverty level; Estimate; EMPLOYMENT STATUS - Employed - Male
Percent below poverty level; Margin of Error; EMPLOYMENT STATUS - Employed - Male
Total; Estimate; EMPLOYMENT STATUS - Employed - Female
Total; Margin of Error; EMPLOYMENT STATUS - Employed - Female
Below poverty level; Estimate; EMPLOYMENT STATUS - Employed - Female
Below poverty level; Margin of Error; EMPLOYMENT STATUS - Employed - Female
Percent below poverty level; Estimate; EMPLOYMENT STATUS - Employed - Female
Percent below poverty level; Margin of Error; EMPLOYMENT STATUS - Employed - Female
Total; Estimate; EMPLOYMENT STATUS - Unemployed
Total; Margin of Error; EMPLOYMENT STATUS - Unemployed
Below poverty level; Estimate; EMPLOYMENT STATUS - Unemployed
Below poverty level; Margin of Error; EMPLOYMENT STATUS - Unemployed
Percent below poverty level; Estimate; EMPLOYMENT STATUS - Unemployed
Percent below poverty level; Margin of Error; EMPLOYMENT STATUS - Unemployed
Total; Estimate; EMPLOYMENT STATUS - Unemployed - Male
Total; Margin of Error; EMPLOYMENT STATUS - Unemployed - Male
Below poverty level; Estimate; EMPLOYMENT STATUS - Unemployed - Male
Below poverty level; Margin of Error; EMPLOYMENT STATUS - Unemployed - Male
Percent below poverty level; Estimate; EMPLOYMENT STATUS - Unemployed - Male
Percent below poverty level; Margin of Error; EMPLOYMENT STATUS - Unemployed - Male
Total; Estimate; EMPLOYMENT STATUS - Unemployed - Female
Total; Margin of Error; EMPLOYMENT STATUS - Unemployed - Female
Below poverty level; Estimate; EMPLOYMENT STATUS - Unemployed - Female
Below poverty level; Margin of Error; EMPLOYMENT STATUS - Unemployed - Female
Percent below poverty level; Estimate; EMPLOYMENT STATUS - Unemployed - Female
Percent below poverty level; Margin of Error; EMPLOYMENT STATUS - Unemployed - Female
Total; Estimate; WORK EXPERIENCE - Population 16 years and over
Total; Margin of Error; WORK EXPERIENCE - Population 16 years and over
Below poverty level; Estimate; WORK EXPERIENCE - Population 16 years and over
Below poverty level; Margin of Error; WORK EXPERIENCE - Population 16 years and over
Percent below poverty level; Estimate; WORK EXPERIENCE - Population 16 years and over
Percent below poverty level; Margin of Error; WORK EXPERIENCE - Population 16 years and over
Total; Estimate; WORK EXPERIENCE - Worked full-time, year-round in the past 12 months
Total; Margin of Error; WORK EXPERIENCE - Worked full-time, year-round in the past 12 months
Below poverty level; Estimate; WORK EXPERIENCE - Worked full-time, year-round in the past 12 months
Below poverty level; Margin of Error; WORK EXPERIENCE - Worked full-time, year-round in the past 12 months
Percent below poverty level; Estimate; WORK EXPERIENCE - Worked full-time, year-round in the past 12 months
Percent below poverty level; Margin of Error; WORK EXPERIENCE - Worked full-time, year-round in the past 12 months
Total; Estimate; WORK EXPERIENCE - Worked part-time or part-year in the past 12 months
Total; Margin of Error; WORK EXPERIENCE - Worked part-time or part-year in the past 12 months
Below poverty level; Estimate; WORK EXPERIENCE - Worked part-time or part-year in the past 12 months
Below poverty level; Margin of Error; WORK EXPERIENCE - Worked part-time or part-year in the past 12 months
Percent below poverty level; Estimate; WORK EXPERIENCE - Worked part-time or part-year in the past 12 months
Percent below poverty level; Margin of Error; WORK EXPERIENCE - Worked part-time or part-year in the past 12 months
Total; Estimate; WORK EXPERIENCE - Did not work
Total; Margin of Error; WORK EXPERIENCE - Did not work
Below poverty level; Estimate; WORK EXPERIENCE - Did not work
Below poverty level; Margin of Error; WORK EXPERIENCE - Did not work
Percent below poverty level; Estimate; WORK EXPERIENCE - Did not work
Percent below poverty level; Margin of Error; WORK EXPERIENCE - Did not work
Total; Estimate; All Individuals below: - 50 percent of poverty level
Total; Margin of Error; All Individuals below: - 50 percent of poverty level
Below poverty level; Estimate; All Individuals below: - 50 percent of poverty level
Below poverty level; Margin of Error; All Individuals below: - 50 percent of poverty level
Percent below poverty level; Estimate; All Individuals below: - 50 percent of poverty level
Percent below poverty level; Margin of Error; All Individuals below: - 50 percent of poverty level
Total; Estimate; All Individuals below: - 125 percent of poverty level
Total; Margin of Error; All Individuals below: - 125 percent of poverty level
Below poverty level; Estimate; All Individuals below: - 125 percent of poverty level
Below poverty level; Margin of Error; All Individuals below: - 125 percent of poverty level
Percent below poverty level; Estimate; All Individuals below: - 125 percent of poverty level
Percent below poverty level; Margin of Error; All Individuals below: - 125 percent of poverty level
Total; Estimate; All Individuals below: - 150 percent of poverty level
Total; Margin of Error; All Individuals below: - 150 percent of poverty level
Below poverty level; Estimate; All Individuals below: - 150 percent of poverty level
Below poverty level; Margin of Error; All Individuals below: - 150 percent of poverty level
Percent below poverty level; Estimate; All Individuals below: - 150 percent of poverty level
Percent below poverty level; Margin of Error; All Individuals below: - 150 percent of poverty level
Total; Estimate; All Individuals below: - 185 percent of poverty level
Total; Margin of Error; All Individuals below: - 185 percent of poverty level
Below poverty level; Estimate; All Individuals below: - 185 percent of poverty level
Below poverty level; Margin of Error; All Individuals below: - 185 percent of poverty level
Percent below poverty level; Estimate; All Individuals below: - 185 percent of poverty level
Percent below poverty level; Margin of Error; All Individuals below: - 185 percent of poverty level
Total; Estimate; All Individuals below: - 200 percent of poverty level
Total; Margin of Error; All Individuals below: - 200 percent of poverty level
Below poverty level; Estimate; All Individuals below: - 200 percent of poverty level
Below poverty level; Margin of Error; All Individuals below: - 200 percent of poverty level
Percent below poverty level; Estimate; All Individuals below: - 200 percent of poverty level
Percent below poverty level; Margin of Error; All Individuals below: - 200 percent of poverty level
Total; Estimate; Unrelated individuals for whom poverty status is determined
Total; Margin of Error; Unrelated individuals for whom poverty status is determined
Below poverty level; Estimate; Unrelated individuals for whom poverty status is determined
Below poverty level; Margin of Error; Unrelated individuals for whom poverty status is determined
Percent below poverty level; Estimate; Unrelated individuals for whom poverty status is determined
Percent below poverty level; Margin of Error; Unrelated individuals for whom poverty status is determined
Total; Estimate; Male
Total; Margin of Error; Male
Below poverty level; Estimate; Male
Below poverty level; Margin of Error; Male
Percent below poverty level; Estimate; Male
Percent below poverty level; Margin of Error; Male
Total; Estimate; Female
Total; Margin of Error; Female
Below poverty level; Estimate; Female
Below poverty level; Margin of Error; Female
Percent below poverty level; Estimate; Female
Percent below poverty level; Margin of Error; Female
Total; Estimate; Mean income deficit for unrelated individuals (dollars)
Total; Margin of Error; Mean income deficit for unrelated individuals (dollars)
Below poverty level; Estimate; Mean income deficit for unrelated individuals (dollars)
Below poverty level; Margin of Error; Mean income deficit for unrelated individuals (dollars)
Percent below poverty level; Estimate; Mean income deficit for unrelated individuals (dollars)
Percent below poverty level; Margin of Error; Mean income deficit for unrelated individuals (dollars)

In [23]:
data.columns

Index(['GEO.id', 'GEO.id2', 'GEO.display-label', 'HC01_EST_VC01',
       'HC01_MOE_VC01', 'HC02_EST_VC01', 'HC02_MOE_VC01', 'HC03_EST_VC01',
       'HC03_MOE_VC01', 'HC01_EST_VC03',
       ...
       'HC02_EST_VC65', 'HC02_MOE_VC65', 'HC03_EST_VC65', 'HC03_MOE_VC65',
       'HC01_EST_VC68', 'HC01_MOE_VC68', 'HC02_EST_VC68', 'HC02_MOE_VC68',
       'HC03_EST_VC68', 'HC03_MOE_VC68'],
      dtype='object', length=279)

In [24]:
gender = data[['GEO.id2','HC01_EST_VC09','HC02_EST_VC09','HC03_EST_VC09']]

In [25]:
data.head(5)

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC01_EST_VC03,...,HC02_EST_VC65,HC02_MOE_VC65,HC03_EST_VC65,HC03_MOE_VC65,HC01_EST_VC68,HC01_MOE_VC68,HC02_EST_VC68,HC02_MOE_VC68,HC03_EST_VC68,HC03_MOE_VC68
0,Id,Id2,Geography,Total; Estimate; Population for whom poverty s...,Total; Margin of Error; Population for whom po...,Below poverty level; Estimate; Population for ...,Below poverty level; Margin of Error; Populati...,Percent below poverty level; Estimate; Populat...,Percent below poverty level; Margin of Error; ...,Total; Estimate; AGE - Under 18 years,...,Below poverty level; Estimate; Did not work,Below poverty level; Margin of Error; Did not ...,Percent below poverty level; Estimate; Did not...,Percent below poverty level; Margin of Error; ...,Total; Estimate; PERCENT IMPUTED - Poverty sta...,Total; Margin of Error; PERCENT IMPUTED - Pove...,Below poverty level; Estimate; PERCENT IMPUTED...,Below poverty level; Margin of Error; PERCENT ...,Percent below poverty level; Estimate; PERCENT...,Percent below poverty level; Margin of Error; ...
1,0500000US01001,01001,"Autauga County, Alabama",54255,116,6267,879,11.6,1.6,14611,...,1469,255,47.6,6.0,18.8,(X),(X),(X),(X),(X)
2,0500000US01003,01003,"Baldwin County, Alabama",180970,435,24002,2188,13.3,1.2,41931,...,3413,434,33.8,3.4,24.9,(X),(X),(X),(X),(X)
3,0500000US01005,01005,"Barbour County, Alabama",24530,396,6395,650,26.1,2.7,5988,...,1160,182,58.7,5.4,27.4,(X),(X),(X),(X),(X)
4,0500000US01007,01007,"Bibb County, Alabama",21794,170,3594,733,16.5,3.4,5253,...,562,165,42.6,9.5,39.9,(X),(X),(X),(X),(X)

In [26]:
data = data.iloc[:, : 9]
data.columns

Index(['GEO.id', 'GEO.id2', 'GEO.display-label', 'HC01_EST_VC01',
       'HC01_MOE_VC01', 'HC02_EST_VC01', 'HC02_MOE_VC01', 'HC03_EST_VC01',
       'HC03_MOE_VC01'],
      dtype='object')

In [27]:
data = data[['GEO.id2', 'GEO.display-label', 'HC01_EST_VC01', 'HC02_EST_VC01','HC03_EST_VC01']]
data.columns = data.iloc[0]
data = data.drop(data.index[0])
data.head(5)

,Id2,Geography,Total; Estimate; Population for whom poverty status is determined,Below poverty level; Estimate; Population for whom poverty status is determined,Percent below poverty level; Estimate; Population for whom poverty status is determined
1,01001,"Autauga County, Alabama",54255,6267,11.6
2,01003,"Baldwin County, Alabama",180970,24002,13.3
3,01005,"Barbour County, Alabama",24530,6395,26.1
4,01007,"Bibb County, Alabama",21794,3594,16.5
5,01009,"Blount County, Alabama",56993,8396,14.7

In [28]:
data.columns

Index(['Id2', 'Geography',
       'Total; Estimate; Population for whom poverty status is determined',
       'Below poverty level; Estimate; Population for whom poverty status is determined',
       'Percent below poverty level; Estimate; Population for whom poverty status is determined'],
      dtype='object', name=0)

In [29]:
data["Total; Estimate; Population for whom poverty status is determined"] = pd.to_numeric(data["Total; Estimate; Population for whom poverty status is determined"])
data["Below poverty level; Estimate; Population for whom poverty status is determined"] = pd.to_numeric(data["Below poverty level; Estimate; Population for whom poverty status is determined"])
data["Percent below poverty level; Estimate; Population for whom poverty status is determined"] = pd.to_numeric(data["Percent below poverty level; Estimate; Population for whom poverty status is determined"])
data.shape

(3143, 5)

In [30]:
data["Calculated_Population"] = (data["Below poverty level; Estimate; Population for whom poverty status is determined"]
                                 /data["Percent below poverty level; Estimate; Population for whom poverty status is determined"])*100

In [31]:
data.head(5)

,Id2,Geography,Total; Estimate; Population for whom poverty status is determined,Below poverty level; Estimate; Population for whom poverty status is determined,Percent below poverty level; Estimate; Population for whom poverty status is determined,Calculated_Population
1,01001,"Autauga County, Alabama",54255,6267,11.6,54025.862069
2,01003,"Baldwin County, Alabama",180970,24002,13.3,180466.165414
3,01005,"Barbour County, Alabama",24530,6395,26.1,24501.915709
4,01007,"Bibb County, Alabama",21794,3594,16.5,21781.818182
5,01009,"Blount County, Alabama",56993,8396,14.7,57115.646259

In [32]:
data['is_calculated_pop_greater'] = (data['Total; Estimate; Population for whom poverty status is determined'] < data['Calculated_Population']).astype(bool)

In [33]:
data.head(5)

,Id2,Geography,Total; Estimate; Population for whom poverty status is determined,Below poverty level; Estimate; Population for whom poverty status is determined,Percent below poverty level; Estimate; Population for whom poverty status is determined,Calculated_Population,is_calculated_pop_greater
1,01001,"Autauga County, Alabama",54255,6267,11.6,54025.862069,False
2,01003,"Baldwin County, Alabama",180970,24002,13.3,180466.165414,False
3,01005,"Barbour County, Alabama",24530,6395,26.1,24501.915709,False
4,01007,"Bibb County, Alabama",21794,3594,16.5,21781.818182,False
5,01009,"Blount County, Alabama",56993,8396,14.7,57115.646259,True

In [34]:
print("Count where calculated population is greater:")
data.is_calculated_pop_greater.astype(bool).sum(axis=0)

Count where calculated population is greater:

1525

In [35]:
print("Count where calculated population is lesser:")
zero = data[data['is_calculated_pop_greater'] == False]
zero.shape[0]

Count where calculated population is lesser:

1618

#### ------------------- Champaign population 2012 ---------------------

In [55]:
data[data['Id2'] == '17019']

,Id2,Geography,Total; Estimate; Population for whom poverty status is determined,Below poverty level; Estimate; Population for whom poverty status is determined,Percent below poverty level; Estimate; Population for whom poverty status is determined,Calculated_Population,is_calculated_pop_greater
605,17019,"Champaign County, Illinois",184223,40685,22.1,184095.022624,False

#### Actual population: 204099
#### Pop from Rohan's data: 184223
#### Pop from WNV data: 203937
#### -----------------------------------------------------------------------------

#### Gender Analysis

In [36]:
print(gender.shape)
gender.head(5)

(3144, 4)

,GEO.id2,HC01_EST_VC09,HC02_EST_VC09,HC03_EST_VC09
0,Id2,Total; Estimate; SEX - Male,Below poverty level; Estimate; SEX - Male,Percent below poverty level; Estimate; SEX - Male
1,01001,26332,2663,10.1
2,01003,87695,10784,12.3
3,01005,11923,2755,23.1
4,01007,11290,1688,15.0

In [37]:
gender.columns = gender.iloc[0]
gender = gender.drop(data.index[0])
gender.head(5)

,Id2,Total; Estimate; SEX - Male,Below poverty level; Estimate; SEX - Male,Percent below poverty level; Estimate; SEX - Male
0,Id2,Total; Estimate; SEX - Male,Below poverty level; Estimate; SEX - Male,Percent below poverty level; Estimate; SEX - Male
2,01003,87695,10784,12.3
3,01005,11923,2755,23.1
4,01007,11290,1688,15.0
5,01009,28290,3714,13.1

In [39]:
gender.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3143 entries, 0 to 3143
Data columns (total 4 columns):
Id2                                                  3143 non-null object
Total; Estimate; SEX - Male                          3143 non-null object
Below poverty level; Estimate; SEX - Male            3143 non-null object
Percent below poverty level; Estimate; SEX - Male    3143 non-null object
dtypes: object(4)
memory usage: 122.8+ KB

In [44]:
gender.iloc[0]

0
Id2                                                                                                Id2
Total; Estimate; SEX - Male                                                Total; Estimate; SEX - Male
Below poverty level; Estimate; SEX - Male                    Below poverty level; Estimate; SEX - Male
Percent below poverty level; Estimate; SEX - Male    Percent below poverty level; Estimate; SEX - Male
Name: 0, dtype: object

In [45]:
gender.columns = gender.iloc[0]
gender = gender.drop(gender.index[0])

In [46]:
gender["Total; Estimate; SEX - Male"] = pd.to_numeric(gender["Total; Estimate; SEX - Male"])
gender["Below poverty level; Estimate; SEX - Male"] = pd.to_numeric(gender["Below poverty level; Estimate; SEX - Male"])
gender["Percent below poverty level; Estimate; SEX - Male"] = pd.to_numeric(gender["Percent below poverty level; Estimate; SEX - Male"])

In [48]:
gender.head(5)

,Id2,Total; Estimate; SEX - Male,Below poverty level; Estimate; SEX - Male,Percent below poverty level; Estimate; SEX - Male
2,01003,87695,10784,12.3
3,01005,11923,2755,23.1
4,01007,11290,1688,15.0
5,01009,28290,3714,13.1
6,01011,5601,1079,19.3

In [49]:
gender["Calculated_Population"] = (gender["Below poverty level; Estimate; SEX - Male"]
                                 /gender["Percent below poverty level; Estimate; SEX - Male"])*100
gender.head(5)

,Id2,Total; Estimate; SEX - Male,Below poverty level; Estimate; SEX - Male,Percent below poverty level; Estimate; SEX - Male,Calculated_Population
2,01003,87695,10784,12.3,87674.796748
3,01005,11923,2755,23.1,11926.406926
4,01007,11290,1688,15.0,11253.333333
5,01009,28290,3714,13.1,28351.145038
6,01011,5601,1079,19.3,5590.673575

In [50]:
gender['is_calculated_pop_greater'] = (gender['Total; Estimate; SEX - Male'] < gender['Calculated_Population']).astype(bool)
gender.head(5)

,Id2,Total; Estimate; SEX - Male,Below poverty level; Estimate; SEX - Male,Percent below poverty level; Estimate; SEX - Male,Calculated_Population,is_calculated_pop_greater
2,01003,87695,10784,12.3,87674.796748,False
3,01005,11923,2755,23.1,11926.406926,True
4,01007,11290,1688,15.0,11253.333333,False
5,01009,28290,3714,13.1,28351.145038,True
6,01011,5601,1079,19.3,5590.673575,False

In [51]:
print("Count where calculated population is greater:")
gender.is_calculated_pop_greater.astype(bool).sum(axis=0)

Count where calculated population is greater:

1567

In [52]:
print("Count where calculated population is lesser:")
rem = gender[gender['is_calculated_pop_greater'] == False]
rem.shape[0]

Count where calculated population is lesser:

1575

In [54]:
gender[gender['Id2'] == '17019']

,Id2,Total; Estimate; SEX - Male,Below poverty level; Estimate; SEX - Male,Percent below poverty level; Estimate; SEX - Male,Calculated_Population,is_calculated_pop_greater
605,17019,91622,19228,21.0,91561.904762,False